<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.idgesg.net/images/article/2019/06/encryption_rollout_encrypted_data_by_matejmo_gettyimages-913069656_2400x1600-100800555-large.jpg);">
  <div class="container">
    <strong><h1>Your data is worth more than you think.</h1></strong>
    <p>Get what you are worth. Register now to buy data to use or to sell your data!</p>
      <%= link_to "Register", new_user_registration_path, class: 'btn btn-primary' %>
  </div>
</div>
