<div class="container-small mt-3">
<div class="row align-items-center justify-content-center py-1">
<div class="container">
<div style="text-align:center">
<p>Congratulations on signing up for this data app!  </p>
<p>You'll now be able to keep in better touch with your business + personal connections!</p>
<br>
<p>Before proceeding, please first create either a business profile or a personal profile.</p>
<br>
<p>After you make one of the profiles, you can make the other one from your user dashboard.</p>
<br>
<p>In order for the app to work properly, please make both profiles, even if you intend to only use one of them!</p>
<p><h5><strong>Important!</strong></h5></p>
<p><h5><strong>At the current early stage of development, the app is not present in the Apple store or any Android store platforms!</strong></h5></p>
<br>
<p><h5><strong>To have this app on your phone:  </strong></h5></p>
<p><h5><strong>For iOS users:  On Safari, click the share button on the bottom middle portion of the browser, then select Add To Home Screen</strong></h5></p>
<p><h5><strong>For Android users:  Once the app has loaded, click on the add to homescreen shortcut on Firefox, or click on menu dots, then Add to homescreen for Chrome</strong></h5></p>
</div>
</div>
</div>

<div class="row align-items-center justify-content-center">
<div class="row">
<p><h5><strong>Pick your first profile to create below!</strong></h5</p>
</div>
</div>

<div class="row align-items-center justify-content-center">
<div class="row">
<p>New buyer profile <%= link_to 'New Buyer', new_buyer_path, class: 'btn btn-primary' %> </p>
</div>
</div>



<div class="row align-items-center justify-content-center">
<div class="row">
<p>New seller profile <%= link_to 'New Seller', new_seller_path, class: 'btn btn-primary'%> </p>
</div>
</div>
</div>
